<form action="/links" method="post">
  <label for="player_name">
    <input type="text" name="url"></input>
  </label>
  <label for="player_name">
    <input type="text" name="title"></input>
  </label>
  <input type='submit' value='Submit'>Submit</input>
</form>
