<h1> Links </h1>
<h3>Welcome <%=@user unless @user.nil? %><h3>


<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
      Tag: <%= link.tags.map(&:tag).join(" / ") %>
    </li>
  <% end %>
</ul>
