<form action="/links" method="post">
  <input type="text" name="url" placeholder="URL"></input>
  <input type="text" name="title" placeholder="title"></input>
  <input type="text" name="tag" placeholder="tag"></input>
  <input type='submit' value='Submit'>Submit</input>
</form>
