<h1> Recover your password </h1>
<form action="/users/password_recovery" method="post">

  <label for='email'>
    Email:
    <input id="email" type="email" placeholder="Email" name="email" required>
  </label>

  <input type="submit" value="Submit">
</form>

<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
