<% if @user_name != nil %>
<h1> Welcome, <%= @user_name %> </h1>
<% end %>

<h2> Current Links </h2>

<ul id='links'>
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL: <%= link.url %>
    Tag: <%= link.tags.map(&:tag).join(' ') %>

  </li>
  <% end %>
</ul>
