<h1>Complete the form to add your links!</h1>

<form action='/links' method="post">
  <p>
    <label for="url">URL:
      <input id="url" type="text" name='url'>
    </label>
  </p>
  <p>
    <label for="url">Title:
      <input type="text" name='title'>
    </label>
  </p>
  <input type="submit" value='Add Link'>
</form>
