<h1> Complete the form to add your links!</h1>

<form action='/links' method="post">
  <input type="text" name='url'>
  <input type="text" name='title'>
  <input type="submit" value='Add Link'>
</form>
