<h1> Please sign up for a new Bookmark account </h1>

<p>
  <form action="/sign_up" method='post'>
    <label for"name">Name:
      <input id="name", type="text", name="name" placeholder="Enter your name">
    </label>
    <label for"email">Email:
      <input id="email", type="email", name="email" placeholder="Enter your email" required>
    </label>
    <label for"password">Password:
      <input id="password", type="password", name="password" placeholder="Enter your password">
    </label>
    <label for"password_confirmation">Password Confirmation:
      <input id="password_confirmation", type="password", name="password_confirmation" placeholder="Confirm your password">
    </label>
    <input type="submit" value="Sign Up">
  </form>

  <% if flash[:error] %>
    <ul style="list-style-type: none">
      <% flash[:error].each do |error| %>
        <li> <%= error %> </li>
      <% end %>
  </ul>
  <% end %>

</p>
