<h1> Please sign up for a new Bookmark account </h1>

<p>
  <form action="/sign_up" method='post'>
    <label for"name">Name:
      <input id="name", type="text", name="name" placeholder="Enter your name">
    </label>
    <label for"email">Email:
      <input id="email", type="text", name="email" placeholder="Enter your email" required>
    </label>
    <label for"password">Password:
      <input id="password", type="password", name="password" placeholder="Enter your password">
    </label>
    <label for"password_confirmation">Password Confirmation:
      <input id="password_confirmation", type="password", name="password_confirmation" placeholder="Confirm your password">
      <% if flash[:wrong_password]%>
        <%= flash[:wrong_password] %>
        <% end %>

    </label>
    <input type="submit" value="Sign Up">
  </form>
</p>
